<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="adobereader" />
	  <package id="googlechrome" />
	  <package id="firefox" />
	  <package id="7zip" />
	  <package id="jre8" />
	  <package id="vlc" />
	  <package id="skype" />
	  <package id="ccleaner" />
	  <package id="dropbox" />  
	  <package id="steam" />
	  <package id="spotify" />
	  <package id="googledrive" />
      <package id="winrar" />
	  <package id="discord" />
    </packages>
