<?xml version="1.0" encoding="utf-8"?>
    <packages>
        <package id="vim" />
        <package id="git" />
        <package id="putty.install" />
        <package id="jdk8" />
        <package id="virtualbox" />
        <package id="python3" />
        <package id="openssh" /> 
        <package id="wireshark" />
        <package id="visualstudiocode" />
        <package id="postman" />
        <package id="arduino" />
        <package id="curl" />
        <package id="ruby" />
        <package id="libreoffice" />
        <package id="nodejs" />
        <package id="cmder" />
    </packages>
